/*@mixin a_size($w, $h: "none") {
  @if ($h =="none") {
    @include adaptiv-value(width, $w, $w, 1);
    @include adaptiv-value(height, $w, $w, 1);
  }

  @else {
    @include adaptiv-value(width, $w, $w, 1);
    @include adaptiv-value(height, $h, $h, 1);
  }
}*/

:root {
  --fonts__main: Montserrat;
  --fonts__additional: "Open Sans";
  --typography__black: #17193e;
  --typography__white: #fff;
  --typography__gray: #838499;
  --background__main: #fff;
  --background__blue: #F7FBFF;
  --background__transparent: rgba(255, 255, 255, 0.30);
  --background__transparent_selected: rgba(255, 255, 255, 0.5);
  --background__light: #F7FBFF;
  --accent__red-gradient: linear-gradient(86deg, #A00F0D 6.09%, #F2321D 95.49%);
  --accent__red: #ED301C;
  --accent__blue: #0A5BBA;
  --primary: #17193E;
  --primary_gradient: linear-gradient(30deg, #17193E 23.41%, #5B5E93 99.23%);
  --stroke: #D2D2DB;
  --disabled: #D2D2DB;
}

/*
  * LINE HEIGHT
*/

/*
  * SIZE
*/

/**
 * DEFAULT
**/

:root {
  --fonts__main: Montserrat;
  --fonts__additional: "Open Sans";
  --typography__black: #17193e;
  --typography__white: #fff;
  --typography__gray: #838499;
  --background__main: #fff;
  --background__blue: #F7FBFF;
  --background__transparent: rgba(255, 255, 255, 0.30);
  --background__transparent_selected: rgba(255, 255, 255, 0.5);
  --background__light: #F7FBFF;
  --accent__red-gradient: linear-gradient(86deg, #A00F0D 6.09%, #F2321D 95.49%);
  --accent__red: #ED301C;
  --accent__blue: #0A5BBA;
  --primary: #17193E;
  --primary_gradient: linear-gradient(30deg, #17193E 23.41%, #5B5E93 99.23%);
  --stroke: #D2D2DB;
  --disabled: #D2D2DB;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: var(--fonts__main);
}

div,
header,
footer,
main,
form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

html,
body {
  width: 100%;
  height: auto;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

html,
html a,
body {
  -webkit-font-smoothing: antialiased;
}

body {
  margin: 0;
  padding: 0;
}

main,
html,
body {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

a {
  text-decoration: none;
}

ul {
  display: block;
  list-style-type: none;
  -webkit-margin-before: 0em;
          margin-block-start: 0em;
  -webkit-margin-after: 0em;
          margin-block-end: 0em;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
  -webkit-padding-start: 0px;
          padding-inline-start: 0px;
}

:active,
:focus {
  outline: none;
}

button,
input {
  outline: none;
}

/*
  * LINE HEIGHT
*/

/*
  * SIZE
*/

/**
 * BLOCKS
**/

.button {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  cursor: pointer;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  --bg: var(--primary);
  background: var(--bg);
  --border: none;
  border: var(--border);
  --disabled-bg: "";
  --disabled-border: "";
}

.button_big {
  padding: 12px 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  border-radius: 44px;
}

.button_big svg {
  width: 24px;
  height: 24px;
}

.button_small {
  padding: 5px 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4px;
  border-radius: 44px;
}

.button_small svg {
  -webkit-transform: scale(0.673);
      -ms-transform: scale(0.673);
          transform: scale(0.673);
}

.button_primary-1 {
  --bg: var(--primary);
  --disabled-bg: var(--disabled);
  --button__disabled_content-color: var(--typography__white);
  --disabled-opacity: 1;
}

.button_primary-1 svg {
  stroke: var(--typography__white);
}

.button_primary-1:hover {
  opacity: 0.8;
}

.button_primary-2 {
  --bg: var(--background__main);
  --border: 1px solid var(--accent__red, #ed301c);
  --disabled_border: var(--disabled);
  --button__disabled_content-color: var(--disabled);
  --disabled-opacity: 1;
}

.button_primary-2:hover {
  opacity: 0.5;
}

.button_primary-2 svg {
  stroke: var(--typography__black);
}

.button_secondary-1 {
  --bg: var(--background__main);
  --border: 1px solid var(--typography__gray);
  --disabled_border: var(--disabled);
  --button__disabled_content-color: var(--disabled);
  --disabled-opacity: 1;
}

.button_secondary-1:hover {
  opacity: 0.5;
}

.button_secondary-1 svg {
  stroke: var(--typography__black);
}

.button_secondary-2 {
  --bg: rgba(210, 210, 219, 0.2);
  --disabled-bg: rgba(210, 210, 219, 0.2);
  --border: "";
  --disabled_border: "";
  --disabled-opacity: 0.9;
  --button__disabled_content-color: var(--disabled);
}

.button_secondary-2:hover {
  opacity: 0.6;
}

.button_secondary-2 svg {
  stroke: var(--typography__black);
}

.button_disabled {
  cursor: default !important;
  background: var(--disabled-bg);
  border: 1px solid var(--disabled_border);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  opacity: var(--disabled-opacity) !important;
  pointer-events: none;
}

.button_disabled * {
  color: var(--button__disabled_content-color) !important;
}

.button_disabled svg {
  stroke: var(--button__disabled_content-color);
}

.checkbox {
  padding: 4px 4px 4px 4px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.checkbox input {
  position: absolute;
  left: -99999999999em;
}

.checkbox_disabled {
  opacity: 0.5;
  cursor: default !important;
  pointer-events: none;
}

.checkbox__label {
  color: var(--typography__black, #17193e);
  font-family: var(--fonts__additional);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 180%;
  margin-left: 28px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.checkbox__label::after {
  position: absolute;
  left: 4px;
  top: 7px;
  content: "";
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-image: url("../images/blocks/checkbox/checkbox.svg");
  background-size: cover;
  background-position: center center;
}

.checkbox__checkbox:checked + .checkbox__label::after {
  background-image: url("../images/blocks/checkbox/checkbox_checked.svg");
}

.container {
  margin: 0 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  /* 
  // Extra small
  @media (max-width: map-get($media, md, width)) {
    width: map-get($media, sm, container);
    padding: 0 map-get($media, sm, padding) !important;
  }

  // Medium
  @media (min-width: map-get($media, md, width)) {
    width: map-get($media, md, container);
    padding: 0 map-get($media, md, padding);
  }

  // Large
  @media (min-width: map-get($media, lg, width)) {
    width: map-get($media, lg, container);
    padding: 0 map-get($media, lg, padding);
  }

  // Extra large
  @media (min-width: map-get($media, xl, width)) {
    width: map-get($media, xl, container);
    padding: 0 map-get($media, xl, padding);
  }
  */
}

.day-picker {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 8px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid var(--background__main);
  border-radius: 12px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.day-picker:hover {
  border: 1px solid var(--stroke, #d2d2db);
}

.day-picker:active {
  background: var(--background__light, #f7fbff);
}

.day-picker__day {
  color: var(--typography__grey, #838499);
  font-family: var(--fonts__main);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.day-picker__date {
  color: var(--typography__black, #17193e);
  font-family: var(--fonts__additional);
  font-size: calc(20px + 4 * ((100vw - 375px) / 1545));
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0;
  margin-top: auto;
}

.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0;
}

.footer__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.footer__logo:hover {
  opacity: 0.8;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0;
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__logo img {
  width: 130px;
  height: 50px;
}

.menu-list {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.menu-list__title {
  gap: 8px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  color: var(--typography__grey, #838499);
  font-family: var(--fonts__main);
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.menu-list__title svg {
  stroke: var(--typography__grey, #838499);
}

.menu-list__list {
  padding-left: 20px;
  gap: 8px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.icon-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px;
  border-radius: 44px;
  background: var(--background__transparent);
  cursor: pointer;
  --selected-bg: "";
}

.icon-btn svg {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.icon-btn_type-one {
  --selected-bg: var(--background__transparent_selected);
}

.icon-btn_type-one svg {
  stroke: var(--typography__white);
}

.icon-btn_type-one:hover svg {
  stroke: var(--accent__red);
}

.icon-btn_type-two {
  background: var(--background__main);
  border: 1px solid var(--stroke, #d2d2db);
  --selected-bg: var(--background__light);
}

.icon-btn_type-two svg {
  stroke: var(--typography__black);
}

.icon-btn_type-two:hover svg {
  stroke: var(--accent__red);
}

.icon-btn_selected {
  background: var(--selected-bg);
}

.icon-btn_selected svg {
  stroke: var(--accent__red);
}

.radio-button {
  padding: 4px 4px 4px 4px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.radio-button input {
  position: absolute;
  left: -99999999999em;
}

.radio-button_disabled {
  opacity: 0.5;
  cursor: default !important;
  pointer-events: none;
}

.radio-button__label {
  color: var(--typography__black, #17193e);
  font-family: var(--fonts__additional);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 180%;
  margin-left: 28px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.radio-button__label::after {
  position: absolute;
  left: 4px;
  top: 7px;
  content: "";
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-image: url("../images/blocks/radio-button/unselected.svg");
  background-size: cover;
  background-position: center center;
}

.radio-button__radio-button:checked + .radio-button__label::after {
  background-image: url("../images/blocks/radio-button/selected.svg");
}

.search {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
}

.search__wrap {
  border-radius: 53px;
  height: 48px;
  padding: 12px 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  border: 1px solid var(--stroke, #d2d2db);
}

.search input {
  border: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 170%;
  font-family: var(--fonts__additional);
  background: var(--background__main);
}

.search input::-webkit-input-placeholder {
  font-family: var(--fonts__additional);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 170%;
}

.search input::-moz-placeholder {
  font-family: var(--fonts__additional);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 170%;
}

.search input:-ms-input-placeholder {
  font-family: var(--fonts__additional);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 170%;
}

.search input::-ms-input-placeholder {
  font-family: var(--fonts__additional);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 170%;
}

.search input::placeholder {
  font-family: var(--fonts__additional);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 170%;
}

.search_default .search__wrap:hover {
  border: 1px solid var(--Typography-T-Grey, #838499);
}

.search_default .icon {
  fill: none !important;
  stroke: var(--stroke, #d2d2db) !important;
}

.search_default input::-webkit-input-placeholder {
  color: var(--typography__gray);
}

.search_default input::-moz-placeholder {
  color: var(--typography__gray);
}

.search_default input:-ms-input-placeholder {
  color: var(--typography__gray);
}

.search_default input::-ms-input-placeholder {
  color: var(--typography__gray);
}

.search_default input::placeholder {
  color: var(--typography__gray);
}

.search_disabled .icon {
  fill: none !important;
  stroke: var(--disabled, #d2d2db) !important;
}

.search_disabled input::-webkit-input-placeholder {
  color: var(--disabled, #d2d2db) !important;
}

.search_disabled input::-moz-placeholder {
  color: var(--disabled, #d2d2db) !important;
}

.search_disabled input:-ms-input-placeholder {
  color: var(--disabled, #d2d2db) !important;
}

.search_disabled input::-ms-input-placeholder {
  color: var(--disabled, #d2d2db) !important;
}

.search_disabled *,
.search_disabled input::placeholder {
  color: var(--disabled, #d2d2db) !important;
}

.search__icon-two {
  width: 24px;
  height: 24px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  opacity: 1;
}

.search__icon-two_hidden {
  opacity: 0;
}

.select {
  position: relative;
  width: 100%;
}

.select_active .select__list {
  opacity: 1;
  z-index: 9;
}

.select__input-wrap {
  border-radius: 44px;
  border: 1px solid var(--Stroke, #d2d2db);
  background: #fff;
  width: 220px;
  padding: 4px 12px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4px;
}

.select input {
  width: 100%;
  border: none;
  color: var(--typography__black, #17193e);
  font-family: var(--fonts__additional);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 170%;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.select svg {
  stroke: var(--typography__black, #17193e);
  -webkit-transform: scale(0.673);
      -ms-transform: scale(0.673);
          transform: scale(0.673);
}

.select input::-webkit-input-placeholder {
  color: var(--typography__gray, #17193e);
}

.select input::-moz-placeholder {
  color: var(--typography__gray, #17193e);
}

.select input:-ms-input-placeholder {
  color: var(--typography__gray, #17193e);
}

.select input::-ms-input-placeholder {
  color: var(--typography__gray, #17193e);
}

.select input::placeholder {
  color: var(--typography__gray, #17193e);
}

.select__list {
  z-index: -9;
  opacity: 0;
  max-width: 264px;
  width: 100%;
  padding: 16px 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 14px;
  position: absolute;
  top: 47px;
  border-radius: 20px;
  border: 0.5px solid var(--Stroke, #d2d2db);
  background: var(--Background-Bg-White, #fff);
  -webkit-box-shadow: 0px 0px 14px 0px rgba(23, 25, 62, 0.05);
          box-shadow: 0px 0px 14px 0px rgba(23, 25, 62, 0.05);
}

.select__list .link {
  width: 100%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.textarea {
  width: 100%;
  max-width: 378px;
  height: 143px;
  padding: 12px 20px;
  border-radius: 20px;
  border: 1px solid var(--stroke, #d2d2db);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  resize: none;
}

.textarea_default:hover {
  border: 1px solid var(--typography-grey, #838499);
}

.textarea_disabled {
  background: var(--bachground__main);
  border: 1px solid var(--stroke, #d2d2db);
}

.textarea_disabled::-webkit-input-placeholder {
  color: var(--stroke, #d2d2db) !important;
}

.textarea_disabled::-moz-placeholder {
  color: var(--stroke, #d2d2db) !important;
}

.textarea_disabled:-ms-input-placeholder {
  color: var(--stroke, #d2d2db) !important;
}

.textarea_disabled::-ms-input-placeholder {
  color: var(--stroke, #d2d2db) !important;
}

.textarea_disabled::placeholder {
  color: var(--stroke, #d2d2db) !important;
}

.textarea::-webkit-input-placeholder {
  color: var(--typography-black, #17193e);
  font-family: var(--fonts__additional);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 170%;
}

.textarea::-moz-placeholder {
  color: var(--typography-black, #17193e);
  font-family: var(--fonts__additional);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 170%;
}

.textarea:-ms-input-placeholder {
  color: var(--typography-black, #17193e);
  font-family: var(--fonts__additional);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 170%;
}

.textarea::-ms-input-placeholder {
  color: var(--typography-black, #17193e);
  font-family: var(--fonts__additional);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 170%;
}

.textarea,
.textarea::placeholder {
  color: var(--typography-black, #17193e);
  font-family: var(--fonts__additional);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 170%;
}

.title {
  font-size: calc(32px + 16 * ((100vw - 375px) / 1545));
  font-weight: 600;
  line-height: normal;
}

.h1 {
  font-size: calc(24px + 12 * ((100vw - 375px) / 1545));
  font-weight: 600;
  line-height: normal;
}

.h2 {
  font-size: calc(18px + 2 * ((100vw - 375px) / 1545));
  font-weight: 600;
  line-height: normal;
}

.h3 {
  font-size: 16px;
  font-weight: 600;
}

.h4 {
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
}

.subtitle {
  font-size: 16px;
  font-weight: 400;
  line-height: 170%;
  /* 27.2px */
}

.title,
.h1,
.h2,
.h3,
.h4,
.subtitle {
  color: var(--typography__black);
  font-family: var(--fonts__main);
  font-style: normal;
}

.btn {
  font-family: var(--fonts__additional);
  color: var(--typography__black);
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.btn_big {
  font-size: 18px;
}

.btn_small {
  font-size: 14px;
}

.btn_light {
  color: var(--typography__white);
}

.paragraph {
  font-family: var(--fonts__additional);
  color: var(--typography__black);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 170%;
}

.paragraph_small {
  font-size: 14px;
  line-height: 180%;
}

.link {
  font-family: var(--fonts__additional);
  color: var(--typography__black);
  stroke: var(--typography__black);
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  gap: 4px;
  padding: 4px 12px;
}

.link svg {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.link_big {
  font-size: 18px;
}

.link_small {
  font-size: 14px;
}

.link_small svg {
  -webkit-transform: scale(0.673);
      -ms-transform: scale(0.673);
          transform: scale(0.673);
}

.link_red {
  color: var(--accent__red);
}

.link_red svg {
  stroke: var(--accent__red);
}

.link_black:hover {
  color: var(--accent__red);
}

.link_black:hover svg {
  stroke: var(--accent__red);
}

.link_blue {
  color: var(--accent__blue);
  border-radius: 44px;
}

.link_blue svg {
  stroke: var(--accent__blue);
}

.link_blue:hover {
  opacity: 1;
  background: var(--background__light);
}

.link_disable {
  opacity: 1 !important;
  cursor: default !important;
  color: var(--disabled);
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background: none;
}

.link_disable svg {
  stroke: var(--disabled);
}

.ui-kit {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.ui-kit__header {
  width: 100%;
  padding: 20px;
  border-bottom: 1px solid #d2d2db;
}

.ui-kit__container {
  padding: 16px 40px;
  border-bottom: 1px solid #d2d2db;
  display: -ms-grid;
  display: grid;
  gap: 20px;
}

.ui-kit__container_unwraped {
  border: none;
}

.ui-kit__row {
  padding: 16px 40px;
}

.ui-kit__wrap {
  gap: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.ui-kit__wrap_vertical {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

.ui-kit__wrap svg {
  width: 24px;
  height: 24px;
}

.ui-kit__color-wrap {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ui-kit__color-wrap .h4 {
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  text-align: center;
}

.ui-kit__color {
  border-radius: 8px;
  width: 52px;
  height: 52px;
  border: 1px solid var(--Stroke, #d2d2db);
}

.ui-kit__dark-wrap {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 40px;
  gap: 25px;
  background-color: #17193e;
  border-radius: 20px;
}

@media screen and (min-width: 1000px) {
  .ui-kit__container {
    -ms-grid-columns: 1fr 2fr;
    grid-template-columns: 1fr 2fr;
  }
}

@media (min-width: 1920px) {
  .container {
    width: 1600px;
    padding: 0 58px;
  }
}

@media (max-width: 1920px) {
  .container {
    width: 100%;
    padding: 0 40px;
  }
}

@media (max-width: 1600px) {
  .header__logo img {
    width: calc(90px + 40 * ((100vw - 375px) / 1225));
  }

  .header__logo img {
    height: calc(30px + 20 * ((100vw - 375px) / 1225));
  }
}

@media screen and (max-width: 1000px) {
  .ui-kit__container {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}